@using Document.Manager.Models.DTOs.UserDTOs;
@model UsersResponseModelDTO
@{
    Layout = "_Layout";
}

<partial name="_Notification" />
<main class="main">
    <div>
        <form asp-controller="Users" asp-action="GetUserDocuments">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" name="TransactionNumber" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label">Transaction Name</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" name="Email" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label">Email</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
@if (Model.Status)
    {

        <div class="row">
            <div class="col-sm-11">
                <h2>
                    <a asp-action="Create">Admin</a>
                </h2>
                <div class="table-responsive">

                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Student Status</th>
                                <th scope="col">Password</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var serialNumber = 1;
                            }
                            @foreach (var item in Model.Datas)
                            {
                                <tr>
                                    <th scope="row">@serialNumber </th>
                                    <td>@item.AttachedDocumentName</td>
                                    <td>@item.AttachedDocumentTitle</td>
                                    <td>@item.AttachedDocumentFileType</td>
                                    <td>@item.TransactionNumber</td>
                                    <td>@item.TransactionNumber</td>
                                    <td>
                                        <a href="/Documents/@item.AttachedDocumentName">Details</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeletePreview" asp-route-id="@item.Email" class="btn btn-danger">Delete</a>
                                    </td>

                                    <td>
                                        <a asp-action="UpdateProfile" asp-route-id="@item..Email" class="btn btn-info">Update</a>
                                    </td>

                                </tr>

                                serialNumber++;
                            }
                        </tbody>
                        @section Scripts
                        {
                        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
                        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
                        <script src="~/js/customerDatatable.js"></script>
                    }
                    </table>
                </div>
            </div>
        </div>

    }
</main>